// mes customs
$primary: #369035;
$body-bg: #020202;
$list-group-bg: #020202;
$dark: #020202;
$link-color: $primary;
@import '../node_modules/bootstrap/scss/_functions';
@import '../node_modules/bootstrap/scss/_variables';

// import boostrap
@import '../node_modules/bootstrap/scss/bootstrap';

