// mes customs
$primary: #c29938;
$body-bg: black;
$list-group-bg: black;


@import '../node_modules/bootstrap/scss/_functions';
@import '../node_modules/bootstrap/scss/_variables';



// import boostrap
@import '../node_modules/bootstrap/scss/bootstrap';

