{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Accueil{% endblock %}

{% block body %}

  <div>
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="images/banniere_recrute.png" class="d-block w-100" alt="On recrute chez Cactus Esport">
          <div class="container">
            <div class="carousel-caption text-right">
              <p><a class="btn btn-block mx-4 btn-primary m-0" href="{{path('join')}}">Je postule</a></p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img src="images/banniere_shop.png" class="d-block w-100" alt="Visite notre shop Cactus Esport">
          <div class="container">
            <div class="carousel-caption text-right">
              <p><a class="btn btn-block mx-4 btn-primary m-0" href="{{path('shop')}}">Aller au shop</a></p>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div> 


{% block footer %}{{ parent() }}{% endblock %}

{% endblock %}
