{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}League of Legends{% endblock %}

{% block body %}
    <h1 class="text-center text-primary">Equipe League of Legends</h1>

{% endblock %}
