{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Yu-Gi-Oh ! Master Duel{% endblock %}

{% block body %}
    <h1 class="text-center text-primary">Yu-Gi-Oh ! Master Duel</h1>

{% block footer %}{{ parent() }}{% endblock %}


{% endblock %}

