{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Mentions légales{% endblock %}

{% block body %}
    <h1 class="text-center text-primary">Mentions légales</h1>

{% block footer %}{{ parent() }}{% endblock %}

{% endblock %}


