{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Rainbow Six Siege{% endblock %}

{% block body %}
    <h1 class="text-center text-primary">Equipe R6</h1>

{% block footer %}{{ parent() }}{% endblock %}

{% endblock %}

