{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Nos équipes{% endblock %}

{% block body %}

<div class="container">
    <div class="row featurette p-4">
      <div class="col-md-7">
        <h2 class="featurette-heading"><strong>Rocket League</strong></h2>
        <p class="lead">Jeu développé et édité par Psyonix, notre équipe est investie dans ce jeu datant de 2015, où les règles sont semblables au football traditionnel, à savoir marquer des buts dans les cages de ou des adversaires, mais cette fois-ci avec un véhicule. Ce jeu requiert beaucoup de techniques ainsi qu'une vivacité dans les prises de décision et les déplacements de chacun.</p>
        <a class="btn btn-dark" href="{{path('rocket-league')}}" role="button">Détails</a>
      </div>
      <div class="col-md-5 p-4">
        <!--svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg-->
        <img src="images/rllogo.png" class="d-block w-100" alt="logo Rocket League">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette p-4">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading"><strong>Yu-Gi-Oh ! Master Duel</strong></h2>
        <p class="lead">Tout droit sorti du manga japonais écrit par Kazuki Takahashi du même nom, la Cactus Esport possède une équipe comprenant les meilleurs joueurs français sur ce jeu. Le but étant de réduire les points de vie de l'adversaire avec les cartes monstres, magies ou pièges. Rigueur et connaissances très poussées sont mis à l'honneur sur ce jeu.</p>
        <a class="btn btn-dark" href="{{path('master-duel')}}" role="button">Détails</a>      
      </div>
      <div class="col-md-5 order-md-1 p-4">
        <img src="images/mdlogo.png" class="d-block w-100" alt="logo Master Duel">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette p-4">
      <div class="col-md-7">
        <h2 class="featurette-heading"><strong>Tom Clancy's Rainbow Six Siege</strong></h2>
        <p class="lead">Le dernier jeu de notre équipe, Tom Clancy's Rainbow Six Siege est un FPS tactique développé et édité par Ubisoft. Formant des équipes de 5 joueurs, deux équipes s'affrontent sur des cartes en ayant pour buts d'éliminer tous les joueurs restants de l'équipe adverse ou de protéger un site dit sensible. Une bonne agilité, de bonnes connaissances et une communication parfaite sont les clés de la réussite au niveau compétitif sur ce jeu.</p>
        <a class="btn btn-dark" href="{{path('rainbow-six')}}" role="button">Détails</a>
      </div>
      <div class="col-md-5 p-4">
        <img src="images/r6logo.png" class="d-block w-100" alt="logo Rainbow Six Siege">
      </div>
    </div>

    <hr class="featurette-divider">

</div>

{% endblock %}
