{% apply inline_css %}
    <style>
        {# here, define your CSS styles as usual #}
        h1 {
            color: 
#ff851b;
        }
    </style>


<h1>Un article a été publié !</h1>
<br />Le titre de l'article: {{titre}}


{% endapply %}